.col-md-6 {
    text-align: justify;
    font-family: sans-serif;
}

.id {
    text-align: justify;
    font-family: sans-serif;
}

.footer {
    background-color: lightblue;

}

.star {
  font-size: 20px;
  cursor: pointer;
}

.star:hover,
.rated {
  color: gold;
}
